<div class="container">
  <main role="main" class="pb-3">
    <div class="box">
      <div class="astan"><h1>ПОЧЕМУ НАШ КУРС?</h1></div>
      <div class="box-text">
        <div class="box-text-img">
          <img src="assets/img/image1.png" class="box-text-img__image" alt="Alternate Text" />
          <span class="box-text-img__text">Видеоуроки <br> c домашней работой</span>
        </div>
        <div class="box-text-img">
          <img src="assets/img/image2.png" class="box-text-img__image" alt="Alternate Text" />
          <span class="box-text-img__text">Всего <br> 24 урока</span>
        </div>
        <div class="box-text-img">
          <img src="assets/img/image3.png" class="box-text-img__image" alt="Alternate Text" />
          <span class="box-text-img__text">Недорогой <br> курс</span>
        </div>
        <div class="box-text-img">
          <img src="assets/img/image4.png" class="box-text-img__image" alt="Alternate Text" />
          <span class="box-text-img__text">Преподаю <br> с 2014 года</span>
        </div>
      </div>
      <div class="box-rules">
        <div class="box-rules-text">
          <h3 class="h3">КАК ЗАРЕГИСТРИРОВАТЬСЯ</h3>
          <p class="box-rules__text">
          <ul>
            <li class="li">Пройти регистрацию по <a class="header-text"  routerLink="/login">ссылке</a></li>
            <li class="li">Ждать ответа от нас <br> мы отправим <br> на вашу почту
          </ul>
        </div>
        <div class="box-rules-education">
          <h3 class="h">Преподаватель</h3>
          <p class="box-rules__text1">
            Асдан Мамедов, начал играть на гитаре с 2003 года.
            Обучает учеников своим нестандартным методом. Получил очень много сертификатов. Любовь всех девушек.
        </div>
      </div>
      </div>
  </main>
</div>


