<div class="container">
  <div class="login" *ngIf="!isRegistration && !loginChecker()" >
    <h1 class="login-text">Вход</h1>
    <form class="loginForm"  [formGroup]="form1" (ngSubmit)="login()" >
      <input type="email" class="form-control" formControlName="userLoginEmail" placeholder="Почта">
      <input type="password" class="form-control" formControlName="userLoginPassword" placeholder="Пароль">
      <button class="btn btn-primary" type="submit"
              [disabled]="form1.invalid" >Войти</button>
    </form>
    <button class="login_button" (click)="isRegistration = !isRegistration">У вас нет аккаунта?</button>
  </div>

    <div class="registration" *ngIf="isRegistration && !loginChecker()" >
      <h1 class="login-text">Регистрация</h1>
      <form class="registForm"  [formGroup]="form" (ngSubmit)="addUser()">
        <input type="text" class="form-control" formControlName="userFirstName" placeholder="Имя">
        <input type="text" class="form-control" formControlName="userLastName" placeholder="Фамилия">
        <input type="email" class="form-control" formControlName="userEmail" placeholder="Почта">
        <input type="password" class="form-control" formControlName="userPassword" placeholder="Пароль">
        <button class="btn btn-primary regbutton" type="submit" [disabled]="form.invalid">Регистрация</button>
      </form>
      <button class="registration_button" (click)="isRegistration = !isRegistration"  >У вас есть аккаунт</button>
    </div>

    <div *ngIf="loginChecker()" class="lesson">
    </div>

</div>

<router-outlet></router-outlet>
